.payment-container {
	padding: 2em;
	width: 50dvw;
	@include background-black-grey();
	@include white-shadow();
	border-radius: 3px;
	align-self: center;
	display: flex;
	flex-direction: column;
	gap: 1em;
	.payment-spinner-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10;
	}
	.title-checkout {
		font-weight: 600;
		font-size: 1.2em;
		color: $gris-claro;
		margin-bottom: 1em;
	}
	.details-container {
		position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr;
		.order-details-wrapper {
			height: fit-content;
			.item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: 1px solid $gris-fuerte;
				img {
					margin-top: 5px;
					margin-bottom: 5px;
					height: 60px;
				}
				.title-price-wrapper {
					width: 100%;
					display: grid;
					gap: 10px;
					justify-content: flex-end;
					text-align: right;
					div {
						font-size: 0.8em;
					}
					p {
						margin: 0;
						font-size: 0.7em;
					}
				}
			}
			.total-wrapper {
				width: 100%;
				display: flex;
				justify-content: flex-end;
				margin-top: 20px;
				div {
					font-weight: 600;
					color: $gris-claro;
				}
			}
		}
		.address-details-wrapper {
			text-align: right;
			p {
				margin: 0;
				font-size: 0.7em;
			}
		}
	}
	.payment-logo-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.title-checkout {
			margin: 0;
		}
		img {
			height: 3em;
		}
	}
}

@media (max-width: 700px) {
	.wrapper {
		justify-content: flex-start;
		min-height: 84vh;
		.address-container {
			margin-top: 80px;
			margin-bottom: 100px;
			width: 100%;
		}
		.payment-container {
			margin-bottom: 30px;
			width: 100%;
		}
	}
}
