.game-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100dvh;
	.game-page-container {
		display: flex;
		justify-content: center;
		align-items: center;
		.game-page-wrapper {
			max-width: 40dvw;
			max-height: 70dvh;
			@include white-shadow();
			border-radius: 3px;
			@include background-black-grey();
			display: grid;
			grid-template-columns: 35% 65%;
			gap: 2.5em;
			padding: 3em 2em;
			.image-wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 2em;
				img {
					max-width: 100%;
					object-fit: fill;
				}
				.details-wrapper {
					div {
						font-size: 0.8em;
						strong {
							color: $verde-hover;
						}
					}
				}
			}
			.text-wrapper {
				max-width: 90%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 1em;
				.title-game-page {
					color: $verde-hover;
					font-weight: 600;
					font-size: 1.5em;
				}
				.description-wrapper {
					font-size: 0.9em;
				}
				.price-button-wrapper {
					width: max-content;
					display: flex;
					flex-direction: column;
					align-self: center;
					gap: 1em;
					h3 {
						margin: 0;
						align-self: center;
						color: aliceblue;
					}
					button {
						@include button();
						width: 150px;
						height: 30px;
					}
				}
			}
		}
	}
}

@media (max-width: 700px) {
	.game-page-container {
		justify-content: flex-start;
		margin-bottom: 20px;
		.game-page-wrapper {
			width: 100%;
			height: 100%;
			.image-wrapper {
				button {
					width: 100px;
				}
			}
			.text-wrapper {
				width: 100%;
				.description-wrapper {
					width: fit-content;
				}
			}
		}
	}
}
