.no-match {
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.no-match-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		h3 {
			color: $gris-mas-claro;
			margin-bottom: 2em;
			text-align: center;
		}
		.icon-rocket {
			font-size: 10em;
			color: $morado;
			transition: all 0.3s;
			&:hover {
				color: $verde-marca;
				transform: scale(1.1);
				cursor: pointer;
			}
		}
	}
}

@media (max-width: 700px) {
	.no-match-container {
		padding: 0px 20px;
	}
}
