.universal-title {
	color: $gris-fuerte;
	font-weight: 600;
}

.edit-container {
	display: flex;
	align-items: center;
	color: $morado;
	transition: 0.3s ease-in-out;
	.edit-title {
		font-size: 0.9em;
		margin-left: 5px;
	}
	&:hover {
		color: $morado-inactivo;
		cursor: pointer;
	}
}

.profile-wrapper {
	margin: 30px 0px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	.profile-container {
		min-width: 700px;
		width: 900px;
		@include background-black-grey();
		padding: 60px;
		border-radius: 3px;
		@include white-shadow();
		.profile-title-wrapper {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.profile-title {
				font-family: 'Creepster', sans-serif;
				color: $verde-marca;
				font-size: 1.7em;
			}
			.admin-wrapper {
				display: flex;
				gap: 1.5em;
				font-size: 1.2em;
				a {
					font-family: 'Creepster', sans-serif;
					color: $verde-marca;
					transition: 0.3s ease-in-out;
					&:hover {
						color: $verde-hover;
						cursor: pointer;
						text-decoration: underline;
					}
					span {
						margin-left: 5px;
					}
				}
			}
		}
		.form-wrapper {
			background-color: $gris-claro;
			padding: 40px;
			width: 100%;
			border-radius: 3px;
			margin-top: 20px;
			.form-title-wrapper {
				display: flex;
				justify-content: space-around;
				margin-bottom: 20px;
			}
			.default-address {
				margin: 0 0 5px 5px;
				font-size: 0.8em;
				color: $morado-completado;
			}
			form {
				display: grid;
				gap: 10px;
				.checkbox-default {
					display: flex;
					align-items: center;
					width: fit-content;
					gap: 5px;
					font-size: 0.8em;
					color: $morado-activo;
				}
				.two-column {
					@include two-column();
					.change-password {
						text-align: right;
						font-size: 0.8em;
						color: $morado-activo;
						transition: 0.3s ease-in-out;
						&:hover {
							color: $morado-inactivo;
							cursor: pointer;
							text-decoration: underline;
						}
					}
				}
				.one-column {
					@include one-column();
				}
				.errorTag {
					color: $error;
					font-size: 0.8em;
				}
				.success-message {
					color: $success;
					font-size: 0.8em;
				}
				input:enabled {
					@include input();
				}
				.button-wrapper {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-top: 20px;
					button:enabled {
						@include button();
						width: 120px;
						height: 30px;
					}
					.unsubscribe {
						font-size: 0.8em;
						color: $error;
						transition: 0.3s ease-in-out;
						&:hover {
							cursor: pointer;
							color: $error-hover;
							text-decoration: underline;
						}
					}
				}
			}
			.orders-wrapper {
				display: grid;
				gap: 20px;
				.order-item {
					width: 100%;
					padding: 10px;
					display: flex;
					justify-content: space-between;
					@include background-black-grey();
					font-size: 0.8em;
					border-radius: 3px;
					span {
						color: $gris-claro;
					}
					.divs {
						color: $gris-fuerte;
						span {
							color: $gris-claro;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 700px) {
	.profile-wrapper {
		margin: 0;
		margin-bottom: 10px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		.profile-container {
			padding: 5px;
			width: 100%;
			min-width: 0;
			.admin-wrapper {
				margin-top: 15px;
			}
			.form-wrapper {
				padding: 5px;
				.orders-wrapper {
					.order-item {
						font-size: 0.7em;
					}
				}
			}
		}
	}
}
